.rate-container {
  width: 100%;
  max-width: 600px;
  margin: 100px auto 30px auto;
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rate-container .rateh1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.rate-container .ratep {
  width: 80%;
  margin: 2rem auto 3rem auto;
  font-size: 1.5rem;
  color: #555;
}

.stars {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.typera {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 0.2s;
  font-size: 2.5rem;
}

.rating-text {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #0B2447;
}

.review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-box {
  width: 100%;
  max-width: 500px;
  height: 100px;
  padding: 10px;
  font-size: 1.5rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  resize: none;
  outline: none;
  transition: border-color 0.2s;
}

.comment-box:focus {
  border-color: #82beff;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  font-size: 1.5rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submit-button:hover {
  background-color: #0056b3;
}
