.suform {
  width: 300px;
  margin: 120px auto 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.lll {
  display: block;
  margin-bottom: 16px;
  font-size: 1.5rem;
}

.lli {
  padding: 6px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.buto {
  margin-left: 0;
  margin-bottom: 0;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.buto:hover {
  background-color: #45a049;
}

.fontToast {
  font-size: 1.5rem;
}